<section class="sign-in text-center">
  <main class="form-signin">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
              <%= image_tag "logo.png", class: 'mb4 logo' %>
                <div class="text-right">
                  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                  <%= f.text_field :username, class: "form-control", placeholder:"Username"%> <br><br>
                </div>
          <%= f.submit "Log in", class: "button1 btn-border-2" %>
          <% # <p>New user? <%= link_to "Sign up now!", signup_path %(-)></p>  %>
      <% end %>
  </main>
</section>
