<section class="d-flex flex-column justify-content-center align-items-center new-art">
  <h1>New Article</h1>
  <%= form_with(model: @article, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %> <br><br>
      <%= f.label :text %>
      <%= f.text_area :text, class: 'form-control' %> <br><br>
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true, class: 'form-control' %> <br><br>
      <%= f.label :image %>
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: 'form-control'  %> <br><br>

      <%= f.submit "Post", class: "btn btn-primary btn-new" %>
  <% end %>
</section>
<script type="text/javascript">
  $("#article_image").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#article_image").val("");
    }
  });
</script>
