<section class="d-flex flex-column justify-content-center align-items-center new-art">
<%= image_tag "logo.png", class: 'mb4 logo' %>
<%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %> <br>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %> <br>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %> <br>
      <%= f.submit "Create my account", class: "btn btn-primary btn-new" %>
<% end %>
<br><p>Or you can <%= link_to "login!", login_path %></p>
</section>