<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col most-voted">
                <p><%= @most_voted_art.title %></p>
                <p><%= image_tag url_for(@most_voted_art.image), class:'art-img' if @most_voted_art.image.attached? %></p>
                <p><%= @most_voted_art.text %></p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6 col-md-3 main-cat">
                <div class="bg" style='background-image:url(<%= set_img_if_not_existed(@cat1_art) %>);'></div>
                1 of 4 
                <%= @cat1_art %>
            </div>
            <div class="col-6 col-md-3 main-cat">
                <div class="bg" style='background-image:url(<%= set_img_if_not_existed(@cat1_art) %>);'></div>
                2 of 4 
                <%= @cat1_art %>
            </div>
            <div class="col-6 col-md-3 main-cat">
                <div class="bg" style='background-image:url(<%= set_img_if_not_existed(@cat1_art) %>);'></div>
                3 of 4
                <%= @cat1_art %>
            </div>
            <div class="col-6 col-md-3 main-cat">
                <div class="bg" style='background-image:url(<%= set_img_if_not_existed(@cat4_art) %>);'></div>
                4 of 4
                <%= @cat1_art %>
            </div>
        </div>
    </div>
</main>

