<!DOCTYPE html>
<html>
  <head>
    <title>Retro Joy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <% flash.each do |message_type, message| %>
        <div id="marg-zero" class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <% if logged_in? %>
      <%= render 'header' %>
    <% end %>

    <%= yield %>

    <% if logged_in? %>
      <%= render 'footer' %>
    <% end %>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
